{% extends "storefront/base_generic.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
    
    {% for category in object_list %}
        {% if category.parent__isnull %}
            <div class="grid one-full last">
        {% else %}
            <div class="grid one-third {% cycle '' '' 'last' %} ">
        {% endif %}
        
            {% if category.parent__isnull %}
                <h3 class="one-full">
                    <a href="{{ category.get_absolute_url }}" title="Show all entries in {{ category }}"> {{category}} </a>
                </h3>
            {% else %}
                <h5 class="one-full">
                    <a href="{{ category.get_absolute_url }}" title="Show all entries in {{ category }}"> {{category}} </a>
                </h5>   
         
                {% if category.description %}
                    <span class="grid three-fourth last">{{ category.description }}</span>
                {% endif %}
            {% endif %}
            

                
        {% if category.parent__isnull %}
            </div>
            <div class="clear"></div>
            <div class="hr"></div>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
    
    {% if not object_list %}
        <div class="grid last">
            <li>No categories yet.</li>
            </div>
    {% endif %}

    
    <div class="clear"></div>
    <div class="hr"></div>
 
{% endblock content %}
