{% extends "storefront/base_generic.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block javascripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function () {
    
{% for item in object.items_published %}    

  (function () {
    var slides = $('.slide{{item.ordering}}');
    var num_slides = slides.length;
    var current_slide = 0;
    var next_slide;

    var fade_speed = 1000;
    var interval_length = 5000;

    for (var i = 0; i < num_slides; i++) {
      $(slides[i]).hide();
    }

    $(slides[current_slide]).fadeIn(fade_speed);

    setInterval(function () {
      next_slide = (current_slide + 1) % num_slides;
      $(slides[current_slide]).fadeOut(fade_speed);
      $(slides[next_slide]).fadeIn(fade_speed);
      current_slide = next_slide;
    }, interval_length);

  })();
{% endfor %}  
});
</script>
{% endblock javascripts %}

{% block extra-style %}
<style>
.slide {
  position:absolute;
}
.picture_container{
   height:100px;
   overflow:hidden;
}
</style>
{% endblock extra-style %}

{% block content %}

    <div class="grid one-full last">
        <p>Return to: <a href="#">Category List</a></p>
        <p>Subcategories go here:</p>
        {%for subcategory in object.category_set.all %}
            <a href="{{ subcategory.get_absolute_url }}" title="{{ subcategory.name }}" target="_self">{{ subcategory.name }}</a>
        {% endfor %}
    </div>
    
    <div class="clear"></div>
    <hr />

    <div class="grid one-half">
        <h3> {{ object.name }}</h3>
        <p>{{ object.description }}</p>
    </div>
    
    <div class="grid one-half last">
            <img src="{{ object.image }}" title="{{ object.name }}" alt="broken" />
    </div>

    
    <div class="clear"></div>
    <hr />

    {% for item in object.item_set.all %}
        <div class="grid one-fifth {% cycle 'foo' 'foo' 'bar' 'bar' 'last' %}">
            <h3><a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">
                {{ item.name }}
            </a></h3>
            
            <div class="picture_container">
            {% for image in item.itemimage_set.all %}
                    <img class="slide{{item.ordering}}" src="{{ image }}" title="{{ image.picture }}" alt="broken" />
            {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="clear"></div>
    <hr />

{% endblock content %}
