{% extends "storefront/base_generic.html" %}

{% load mptt_tags %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="grid one-third">
        <h3> {{ object.name }}</h3>
        <p>{{ object.description }}</p>
    </div>
    
    <div class="grid one-third">
        {% thumbnail object.image "150x150" format="PNG" as im %}
            <img src="{{ im.url }}" title="{{ node.name }}" alt="broken" />
        {% endthumbnail %}
    </div>
    
    <div class="grid one-third last">
        <p>Return to: <a href="{% url storefront_category_list %}">Category List</a></p>
        
        {%for child in object.get_children %}
            <a href="{{ child.get_absolute_url }}" title="{{ child.name }}" target="_self">{{ child.name }}</a>
        {% endfor %}

    </div>
 
    
    <div class="clear"></div>
    <div class="hr"></div>

    {% for item in object.items_published %}
        <div class="grid one-fifth {% cycle 'foo' 'foo' 'bar' 'bar' 'last' %}">
            <h3><a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">
                {{ item.name }}
            </a></h3>
            
            <p>
            {% for image in item.itemimage_set.all %}
                <img src="{{ image.picture.url }}" title="{{ image.picture }}" alt="broken" />
            {% endfor %}
            </p>
        </div>
    {% endfor %}

    <div class="clear"></div>
    <div class="hr"></div>

{% endblock content %}
