{% extends "storefront/base_generic.html" %}
{% load comments %}

{% block content %}						
<div class="grid one-half">
    <h3>{{object.name}}</h3>
    <p>{{ object.description }}</p>
    <p>
        {% for image in object.itemimage_set.all %}
            <img src="{{ image.picture.url }}" title="{{ image.picture }}" alt="broken" />
        {% endfor %}
    </p>
</div>

<div class="grid one-half last">
    {% render_comment_form for object %}
    {% render_comment_list for object %}
</div>

<div class="clear"></div>
<div class="hr"></div>
							
{% endblock content%}
