{% extends "storefront/base_generic.html" %}
{% load comments %}
{% load mptt_tags %}
{% load thumbnail %}

{% block meta %}{{object.meta_description}}{% endblock meta%}

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
$(document).ready(function() {
   $('#detail_button').click(function(){
     $('#item_feedback').hide();
     $('#item_details').show();
   });
  
   $('#feedback_button').click(function(){
     $('#item_feedback').show();
     $('#item_details').hide();

   });
   
 });
</script>
{% endblock javascripts %}

{% block extra-style %}
<style>
li{display:inline-block; margin:2px; padding:5px; background:white;}

#item_feedback{display:none;}
</style>
{% endblock extra-style %}

{% block content %}
<div class="grid one-full last">	
    <p>Categories:
        {%for category in object.categories.all %}
            <a href="{{category.get_absolute_url}}">{{category}}</a> 
        {% endfor %}
    </p>
</div>

<div class="clear"></div>

<div class="grid one-half">
    <h3>{{object.name}}</h3>
    <p>{{ object.short_description }}</p>
    <p>
        {% for image in object.itemimage_set.all %}
            {% thumbnail image.picture "150x150" format="PNG" as im %}
                <img src="{{ im.url }}" title="{{ image.picture }}" alt="broken" />
            {% endthumbnail %}
        {% endfor %}
    </p>
    <p> Related Items Here...</p>
</div>

<div class="grid one-half last">
    <ul>
        <li id="detail_button" >Details</li>
        <li id="feedback_button" >Feedback</li>
    </ul>
    <hr />
    <div id="item_feedback">
        {% render_comment_list for object %}
        {% render_comment_form for object %}
    </div>
    
    <div id="item_details">
        <p>Name: {{object.name}}</p>
        <p>Description: {{object.description}}</p>
        <p>Amount in Stock: {{object.items_in_stock}}</p>
        <p>Price: Currently no price in set</p>            
    </div>

</div>

<div class="clear"></div>
<div class="hr"></div>
							
{% endblock content%}
