<!DOCTYPE html> 
<!--[if lt IE 7 ]><html class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js"> <!--<![endif]-->
<head>
	<title>{% block title%}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ STATIC_URL }}storefront/css/style.css"> 
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="{{ STATIC_URL }}storefront/js/mediaqueries.js"></script>
	<![endif]-->
	<script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
</head>

<body>
	<div id="wrap">
	
		<header id="header">
			<div id="header-inner" class="container">
				<div class="pad">
					<p>
						<a href="#LOGO">LOGO</a>
						<a href="#STORE">STORE</a>
						<a href="#ABOUT">ABOUT</a>
						<a href="#BLOG">BLOG</a>
						<a href="#CONTACT">CONTACT</a>
						<a href="#SEARCH">SEARCH</a>
					</p>
				</div>
			</div>
		</header><!--/header-->
				
		<div id="page">
			<div id="page-inner" class="container">
				<div id="store-banner">
					<p>Store Name</p>
				</div>
				<div class="main">
					<section class="content">
						<div class="pad text">
						
							<div class="grid one-fifth">
							<h3>Our Categories</h3>
							<p>
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!
							Product Categories and subs go here!<br>
							</p></div>
							
							<div class="grid three-fifth">
							<h3>Our Main Product Line</h3>
							<p>
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							Main Product/business showoff show go here!
							<br>
							</p></div>
							
							<div class="grid one-fifth last">
							<h3>Why we Are the Best</h3>
							<p>
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							What Makes us Awesome?
							<br>
							</p></div><div class="clear"></div>
														
							<div class="grid one-fifth">
							<h3>Featured Product 0</h3>
							<p>
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							featured product number 0 here!
							<br>
							</p></div>
							
							<div class="grid one-fifth">
							<h3>Featured Product 1</h3>
							<p>
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							featured product number 1 here!
							<br>
							</p></div>
							
							<div class="grid one-fifth ">
							<h3>Featured Product 2</h3>
							<p>
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							featured product number 2 here!
							<br>
							</p></div>
							
							<div class="grid one-fifth ">
							<h3>Featured Product 3</h3>
							<p>
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							featured product number 3 here!
							<br>
							</p></div>
							
							<div class="grid one-fifth last">
							<h3>Locations</h3>
							<p>
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							Links to distributers brick and mortar.
							<br>
							</p></div><div class="clear"></div>
							
							<div class="hr"></div>
							
						</div>
					</section><!--/content-->
				</div><!--/main-->
			</div>
		</div><!--/page-->
		
		<footer id="footer">
			<div id="footer-inner" class="container">
				<div class="pad">
					<p>Footer</p>
					<p>legal stuff - legal stuff - sitemap -site map - legal stuff</p>
				</div>
			</div>
		</footer><!--/footer-->
		
	</div><!--/wrap-->
</body>
